* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(148, 152, 152);

}



.root {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2rem;
}

.title {
  width: 100%;
  height: 100px;
  background-color: rgb(2, 26, 18);
  font-size: 1.rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 4rem;
  color: rgb(246, 241, 248);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 10px 10px;
  
  
}

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.containerCar {
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 0.5rem;
  color: #121212;
}

.imageBmw {
  width: 230px;
  height: 140px;
  border-radius: 0.5rem 0.5rem 1rem 1rem;

}

.comp {
  font-family: Arial, Helvetica, sans-serif;
}

.button-cont {
  width: 100%;
  cursor: pointer;
  background: rgb(240, 240, 240);
  color: #070101;
  border: none;
  transition: background-color 0.2s ease 0s;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0 0 0.5rem 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  

}




.main{
  height: 80vh;
}

.flooter{
  background: #694343;
  width: 100%;
  height: 15rem;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  
}

.flooter h2{
  color: bisque;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  
}

.flooter h3{
  color: azure;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  display: flex;
  
  margin-top: 8%;
  margin: 30px;

}

.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #070101;
  color: white;

}



#icones{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: 25px;
  margin: 40px;
}

#insta, #git{
  color: #0a0909;
}










.imageBmw:hover{
  opacity: 0.5;
  font-size: 1rem;
}

.button-cont:hover {
  background-color: rgba(219, 11, 11, 0.469);
}

@media screen and (max-width: 700px) {
  .title {
    color: rgb(226, 226, 230);
  }
  
 
}
